/***************************************

STYLE.CSS - global styling för webbsidan

****************************************/

/* global styling */

/* TODO: BÖRJA HÄR! ändra färger för din meny */
:root {
  --clr-copy: #3a3a3a;
  /* brödtext på sidan */

  --clr-primary: #f6f6f6;
  /* bakgrundsfärg och primära färgen */
  --clr-secondary: royalblue;
  /* navigationsfärg och bakgrundsfärg när man klickar  */
  --clr-cta: rgb(7, 121, 245);
  /* CTA-färg */
  --clr-highlight: rgb(21, 148, 211);
  /* highlight i menyn */

  --clr-navbar: #fafafa;
  --clr-dropdown-background: #ffffff;
  /* dropdown-menyns bakgrund */

  --clr-hover: var(--clr-highlight);
  /* markeringsfärg */
  --clr-active: var(--clr-dropdown-background);
  /* färg på text när man klickar */

  --clr-line: #ebebeb;
  /* linje */

  --clr-navbar-shadow: 0 4px 12px #d6d6d6;
  /* för ljus UI använd en ljusgrå nyans */
  --clr-menu-shadow: 0 4px 24px #d2d2d2;
  /* för mörkt UI använd en mörkare nyans av cta */

  --menu-dropdown-size: 1.5em;
  /* hur stora ska dropdown-menyn vara? */
  --menu-item-size: 1em;
  /* hur stort ska gränssnittet vara? */
  --border-radius: 0.5rem;
  /* rundade kanter */

  /*TODO: Ändra typsnitt här om du vill (kanske mest intressant när du använder denna dropdown i ditt projekt)*/
  --ff-primary: "Segoe UI", sans-serif;
  --ff-secondary: "Segoe UI", sans-serif;
}


/* layout styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;


  font-family: var(--ff-secondary);
  font-size: var(--menu-item-size);
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: calc(var(--menu-item-size) + 3em);
  padding: calc(var(--menu-item-size) / 4) calc(var(--menu-item-size) * 2);

  background: var(--clr-navbar);
  box-shadow: var(--clr-navbar-shadow);

  z-index: 1;
}


.primary-navigation {
  display: flex;
  gap: calc(0.5em + var(--menu-item-size));

  padding-inline: 0;

  list-style: none;

}

.logo-brand {
  font-size: calc(var(--menu-item-size) * 1.3);
  font-weight: bold;

  color: var(--clr-cta);

  margin-block: 0;
}

.flex-layout {
  display: flex;
  align-items: center;
  gap: var(--menu-item-size);
}

/* image styling */

img {
  display: block;

  max-width: 100%;
  object-fit: cover;

  font-style: italic;
}

.logo {
  width: calc(var(--menu-item-size) * 1.3);
}

.logo g path {
  fill: var(--clr-cta);
  /* om du vill ändra färgen på logotypen gå högst upp och ändra --clr-cta eller ändra här */
}


/* text styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
}

p {
  color: var(--clr-copy);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}


/* link styling */

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--clr-secondary);

  font-weight: 500;
  font-size: calc(var(--menu-item-size) * 1.1);

  white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-highlight);
}


/* buttons */

.hamburger-button {
  all: unset;
  display: none;
  place-items: center;
}


/* dropdown styling */

/* länkarna i dropdown-menyerna */
li ul li a {
  display: block;

  /* här beräknas storleken på menyobjekten */
  padding: calc(var(--menu-dropdown-size) / 1.5) calc(var(--menu-dropdown-size) * 1.5) calc(var(--menu-dropdown-size) / 1.5) calc(var(--menu-dropdown-size) * 1.5);
}

.dropdown {
  position: relative;
}

/* undermenyer */
.dropdown ul {
  position: absolute;

  /* se till att alla undermenyer är stängda från början */
  display: none;

  /* TODO: Vill du att menyn ska dyka upp högerjusterad? ta bort kommentarerna runt nedanstående egenskap: */
  right: 0;

  padding-inline: 0;

  list-style: none;
}

/* pil bara för dropdown-menyer i menyer */
/* FIXME: Om du har högerjusterad meny bör du ändra här. Ändra pil i content och ändra right till "left: 0.5rem" */
.dropdown .dropdown::after {
  content: "<";

  position: absolute;
  left: 0.5rem;
  top: 50%;

  color: var(--clr-secondary);

  transform: translateY(-50%);
}

.dropdown .dropdown:hover::after {
  color: var(--clr-active);
}

.dropdown .dropdown:active::after {
  color: var(--clr-active);
}

/* öppna dropdown-meny */
.dropdown:hover>ul,
.dropdown:focus-within>ul {
  /* TODO: För horisontell meny: ändra display till flex :) */
  display: block;

  background: var(--clr-dropdown-background);
  box-shadow: var(--clr-menu-shadow);

  border-radius: var(--border-radius);
  z-index: 99;
}

.dropdown ul .dropdown:hover>ul,
.dropdown ul .dropdown:focus-within>ul {
  display: block;

  /* FIXME: Ändra till "right: 100%" om du har högerjusterad meny */
  right: 100%;
  top: 0;
}

/* markering */
.dropdown ul li a:hover,
.dropdown ul li a:focus {
  background: var(--clr-hover);
  border-radius: var(--border-radius);
  color: var(--clr-dropdown-background);
}

.dropdown ul li a:active {
  background: var(--clr-secondary);
  color: var(--clr-active);
}

/* TODO: Vill du ha en linje mellan varje dropdown objekt? 
FIXME: OBS! om du kör horisontell meny bör du ändra till border-left här */
.dropdown ul .dropdown:not(:first-child),
.show-border {
  border-top: 1px solid var(--clr-line);
}


body {
  font-family: sans-serif;
  background-color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: var(--menu-item-size);
  margin: 0;

}

.logo-container {
  display: flex;
  gap: 1rem;
  text-align: left;
  margin-bottom: 2rem;
  padding-top: 1rem;
}


.logo-img {
  width: 80px;
  height: 80px;
}


.image-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 2rem 0;
}


img {
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, filter 0.3s ease;
}


.default-img {
  width: 250px;
  max-width: 100%;
  margin-bottom: 1rem;
}


.inline-img {
  width: 15px;
  height: 15px;
}


.link-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 2rem;
}

.link-img {
  width: 180px;
  max-width: 100%;
  cursor: pointer;
  border: 3px solid #333;
  border-radius: 15px;
  margin-bottom: 2rem;
}


iframe {
  margin-top: 2rem;
  width: 100%;
  max-width: 560px;
  aspect-ratio: 16 / 9;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}