body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    background-color: gray;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    color: white;
    width: 100%;
    gap: 1rem;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.primary-navigation {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
}


article {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
}

.grid-span-2 {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 2rem;
}

.flexbox-img {
    width: 100%;
    max-width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.cssgrid-img {
    width: 100%;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.webb-img {
    width: 100%;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}